{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Домашняя страница{% endblock %}

{% block css %}
<style>
body {
      background-color: #F6F2E6;
    }
</style>
{% endblock %}

{% block content %}


<div class="card">
<div class="card-body">
<h4 class="card-title">Добрый день! Вы попали на сайт с опросами пользователей. После регистрации вам станут доступны
  для просмотра опросы с вопросами. После прохождения опроса вы можете просмотреть таблицу с результатами.</h4>
</div>
</div>


{% endblock %}