{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Вопросы по типу{% endblock %}

{% block css %}
<style>
body {
      background-color: #F6F2E6;
    }
</style>
{% endblock %}

{% block content %}
<h1>Все вопросы, относящиеся к опросу - "{{ vote }}".</h1>
<h1>Выберите вопросы по типу:</h1>
    <br>
    {% for type in types %}
            {% if type == 'one_choice' %}
                <h2><a href="{% url 'poll:question_by_type' vote.pk type %}">Ответ с выбором одного варианта</a></h2>
            {% elif type == 'text' %}
                <h2><a href="{% url 'poll:question_by_type' vote.pk type %}">Ответ вводом текста</a></h2>
            {% else %}
                <h2><a href="{% url 'poll:question_by_type' vote.pk type %}">Ответ с выбором нескольких вариантов</a></h2>
            {% endif %}
            <br>
    {% endfor %}
{% endblock %}
